/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: "Helvetica", "Arial", "sans-serif";
  margin-top: 50px;
  text-align: center;
}

h1 {
  color: rgba(0, 0, 0, 0.75);
}

label {
  display: block;
  margin-bottom: 5px;
  font-variant: all-small-caps;
  font-size: 20px;
}

input[type='text'], input[type='email'] {
  background: white;
  padding: 10px 5px;
  min-width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 5px;

  font-size: 25px;
}

input[type='submit'] {
  font-size: 25px;
  background: #31a531;
  border-bottom: 3px solid #188018;
  color: white;
  border-radius: 5px;
  font-variant: all-small-caps;
  margin-top: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

input[type='submit']:hover {
  background: #3faf3f;
}

.input span.error {
  display: block;
  max-width: 400px;
  padding: 10px 5px;
  background: rgba(255, 0, 0, 0.6);
  border-radius: 5px;
  text-align: center;
  color: white;
  margin: auto;  
  margin-bottom: 10px;
}

.link {
  font-size: 25px;
}